@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/Avenir-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Avenir-Black.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Avenir-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Avenir-Black.svg#3f32b7b0e932d6bbe85d14c9bded23e3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Apercu Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Apercu Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Apercu Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Apercu Regular.svg#b36b7256519cc66fbc1432f0c6126806') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}