@import '_fonts';
@import '_reset';

$theOrange : #e6590f;

@mixin clearfix() {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

body {
  background-color: #000;
  color: #FFF;
  font-size: 16px;
  min-width: 320px;
  font-family: 'Apercu',
  'Helvetica Neue',
  'Helvetica',
  'Arial', sans-serif;
}

h1

a {
	opacity: 1;
	text-decoration: none;
	color: $theOrange;
	transition: opacity 0.1s ease-in-out;
	&:visited {
		color: $theOrange;
	}
	&:hover, &:focus, &:active {
		opacity: 0.65;
		text-decoration: none;
		transition: opacity 0.05s ease-in-out;
	}
}

.main-wrapper {
	margin: 0 auto;
	max-width: 90%;
}

#header {
	text-transform: uppercase;
	text-align: center;
	.title {
    font-family: 'Apercu Black',
    'Helvetica Neue',
    'Helvetica',
    'Arial', sans-serif;
    font-size: 5.5em;
    margin: 0;
    padding: 0;
    .colored {
		  color: $theOrange;
    }
	}
}

.main {
	padding: 10px;
	#countdown {
		text-align: center;
		font-size: 3em;
		.clock {
			color: $theOrange;
			font-size: 2em;
		}
	}

	.caption {
		text-transform: uppercase;
		text-align: center;
		padding: 0 5% 5%;
		display: block;
		span{
			padding: 45px;
		}
		.hours, .minutes, .seconds {
			width: 30%;
		}
	}

	header { }
	section {
		text-align: center;
		.twitter-timeline { }
	}

	.social-container {
		@include clearfix();
		h2 {
			text-align: center;
		}
		.span {
			width: 100%;
			display: inline-block;
      text-align: center;
		}
	}
}



#footer {
	text-align: center;
	h3 { }
}