body{
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
}


a {
	opacity: 1;
	text-decoration: none;
	color: #e6590f;
	transition: opacity 0.1s ease-in-out;
}
a:visited {
	color: #e6590f;
}
a:hover, a:focus, a:active {
	opacity: 0.65;
	text-decoration: none;
	transition: opacity 0.05s ease-in-out;
}

.header-container{

	header{
		text-transform: uppercase;
		text-align: center; 

		.title{

			.colored{
				color: #e6590f;
			}
		}
	} 
}

.main-container{
	margin-right: auto;
	margin-left: auto;
	max-width: 520px; 
	min-width: 180px;
	padding: 10px;

	#countdown{
		text-align: center;
		font-size: 3em;
		max-width: 520px; 
		min-width: 180px;

		.clock{
			color: #e6590f;
			font-size: 2em;
		}
	}

	.caption{
		text-transform: uppercase;
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
		display: block;

		.hours{width:30%}
		.minutes{width:30%}
		.seconds{width:30%}
	}

	.main{
		header{

		}
		section{
			text-align:center;

			.twitter-timeline{

			}
		}
		footer{

		}
	}
} 

.footer-container{
	margin-right: auto;
	margin-left: auto;
	max-width: 520px; 
	min-width: 180px;

	.wrapper{
		text-align:center;

		h3{

		}
	}
}